@media all and (min-width:992px){
	.menu > ul{
		display: block !important;
	}
}
@media all and (max-width: 991px){
	.menu{
		padding-bottom: 45px;
	}
	.resposive_menu_bar{
		display: inline-block;
	}
	.menu ul{
		display: none;
		text-align: left;
		padding-top: 50px;
	}
	.menu ul li{
		display: inherit;
		
	}
	.menu ul li a{
		display: block;
		transition: .3s;
		border-bottom: 1px solid #eee;
		padding: 5px 18px;
	}
	/* description-area styles */
	.desc_left{
		width: 100%;
		float: inherit;
	}
	.desc_left ul li a{
		padding-left: 9%;
	}
	.desc_middle{
		width: 100%;
		float: inherit;
		padding: 0;
	}
	.desc_right{
		width: 100%;
	}
	.notice_board ul li a{
		padding-left: 9%;
	}
}
@media all and (max-width: 767px){
	.resposive_menu_bar{
		top: 26%;
	}
}
@media all and (max-width: 576px){
	.resposive_menu_bar {
		top: 20%;
	}
}
@media all and (max-width: 420px){
	.resposive_menu_bar {
		padding: 6px 12px;
		top: 16%;
	}
	.newsh{
		width: 41%;
	}
	.newsh h2{
		font-size: 16px;
	}
}
@media all and (max-width: 320px){
	.resposive_menu_bar {
		padding: 6px 12px;
		top: 13%;
	}
	.desc_left ul li a{
		padding-left: 11%
	}
	.notice_board ul li a{
		padding-left: 11%;
	}
}












