body{
	padding: 0;
	margin: 0;
	background: #dadada
}
/*******************************************
				header-area
*******************************************/
.main-body {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	box-shadow: 0px 1px 5px 3px #4d4949;
	border-radius: 5px;
	/* margin-top: 15px; */
	/* margin-bottom: 15px; */
}
.header-area{
	overflow: hidden;
}
.header_full{
	background: #fff;
}
.header_img img{
	width: 100%;
}
/***** menu *****/
.menu{
	overflow: hidden;
	background: url('../images/menu.jpg') no-repeat scroll 0 0 / 100% 100%;
	padding-bottom: 7px;
}
.resposive_menu_bar {
	display: none;
	margin-top: -1px;
	margin-bottom: 20px;
	background: #7b7b7b;
	padding-left: 10px;
	cursor: pointer;
	color: #FFF;
	float: right;
	padding: 10px 15px;
	font-size: 25px;
	position: absolute;
	top: 33%;
	left: 47%;
}
.menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu ul li{
	display: inline;
}
.menu ul li a {
	text-decoration: none;
	display: inline-block;
	background: #2E8B57;
	padding: 3px 18px;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 2px;
	margin-right: 5px;
	transition: .2s
}
.menu ul li:hover a{
	background: #E90C0C;
}
/*******************************************
			 description-area
*******************************************/
.description-area{
	overflow: hidden;
	background: #F9FAFB;
	padding: 10px;
}
/***** desc_left *****/
.desc_left{
	width: 16%;
	float: left;
}
.desc_left ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.desc_left ul li{
	padding-bottom: 3px;
	position: relative;
}
.desc_left ul li a {
	display: block;
	text-decoration: none;
	color: #000000;
	background: #66CDAA;
	font-weight: bold;
	font-size: 12px;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-left: 25px;
	transition: .2s;
}
.desc_left ul li:hover a{
	color: #42A108;
	background: #E8FCCF
}
.square {
	height: 7px;
	width: 7px;
	background: #387599;
	position: absolute;
	left: 6%;
	top: 37%;
}
/***** desc_middle *****/
.desc_middle{
	width: 68%;
	overflow: hidden;
	float: left;
	padding: 0% 2%;
}
.news_ticker{
	overflow: hidden;
	border: 1px solid #ddd;
	padding: 5px 2px;
}
.newsh{
	width: 23%;
	float: left;
	position: relative;
	background: #ECF0F4;
}
.newsh h2 {
	display: inline-block;
	color: #fff;
	background: #39929C;
	font-size: 18px;
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding: 5px 14px;
	margin: 0;
}
.newsh::after {
	content: '';
	border-left: 21px solid #39929C;
	border-right: 16px solid transparent;
	border-top: 16px solid transparent;
	border-bottom: 13px solid transparent;
	position: absolute;
	right: -10%;
	top: 0%;
}
.marquee {
	overflow: hidden;
	padding-top: 6px;
	background: #fff;
	font-size: 13px;
}
.main_slide{
	padding-top: 40px;
}
.main_slide img{
	height: 245px;
}
.slick-dots li button{
	background: #000;
	border-radius: 50%;
	width: 15px;
	height: 15px;
}
.slick-active{
	opacity: .5;
}
/*** post-area ***/
.post-area{
	overflow: hidden;
	padding-top: 20px;
}
.post_single{
	padding: 10px 0px;
}
.post_single h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 15px;
	margin: 0;
	padding-bottom: 15px;
	border-bottom: 2px solid #696666
}
.post_single p{
	margin: 0;
	padding: 10px 0px;
	font-size: 13px;
	text-align: justify;
}
/***** desc_right *****/
.desc_right{
	width: 16%;
	overflow: hidden;
}
/*** notice_board ***/
.notice_board{
	overflow: hidden;
	background: #ECF0F4;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}
.notice_board h2{
	margin: 0;
	background: #EAFCD4;
	color: green;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
	border-bottom: 2px solid #ddd;
	padding: 3px;
	padding-top: 9px;
	padding-left: 5px;
	padding-bottom: 5px;
}
.notice_board ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.notice_board ul li{
	position: relative;
	padding-bottom: 8px;
}
.notice_board ul li a {
	text-decoration: none;
	display: block;
	color: #000;
	font-size: 12px;
	transition: .2s;
	padding-left: 25px;
}
.notice_board ul li:hover a{
	color: green;
}
.square2 {
	height: 7px;
	width: 7px;
	background: green;
	position: absolute;
	top: 6%;
	left: 6%;
}
.ex{
	top: 14%;
}
.marquee2{
	height: 130px;
	overflow: hidden;
	background: #ECF0F4;
}
.teacher_area{
	padding-bottom: 3px;
}
.teacher_area img {
	width: 89%;
	padding-left: 10px;
	padding-top: 5px;
}
.teacher_area p{
	margin: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 12px;
	color: #2A3846;
	padding: 0px 5px;
}
.important ul{
	padding-top: 8px;
}
.important ul li{
	padding-bottom: 3px;
}
.square3 {
	height: 7px;
	width: 7px;
	background: green;
	position: absolute;
	top: 23%;
	left: 6%;
}
.visitor{
	padding: 3px 0px;
}
.visitor ul li {
	padding-left: 12%;
	padding-bottom: 2px;
	padding-top: 3px;
}
.visitor ul li p{
	margin: 0;
	padding-left: 3% !important;
}
.square4 {
	height: 7px;
	width: 7px;
	background: green;
	position: absolute;
	top: 39%;
	left: 6%;
}
/*******************************************
			   footer-area
*******************************************/
.footer-area{
	overflow: hidden;
	background: #42A108;
}
.footer_top{
	padding: 5px;
	padding-bottom: 2px
}
.footer_top p{
	margin: 0;
	text-align: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
}
.footer_top a{
	text-decoration: none;
	color: #9AC3DA;
}
.footer_top a:hover{
	color: #D6E6F0;
	text-decoration: underline;
}
.footer_btm{
	padding-bottom: 7px;
}
.footer_btm p{
	margin: 0;
	color: #fff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
}
.footer_btm a{
	text-decoration: none;
	color: #9AC3DA;
}
.footer_btm a:hover{
	color: #D6E6F0;
	text-decoration: underline;
}


.panel-heading{
    padding: 1px 10px;
    
}

.panel-heading h4{
	font-size: 14px;
}

.panel-default>.panel-heading{
    color: #fff;
    background-color: #66cdaa;
}